body{
    background-color: rgb(204,204,204);
    text-align: center;
}
#Description{
    font-family: 'Open Sans', sans-serif;
    border-style: solid;
    border-color: darkslategray;
    background-color: azure;
    width: 95%;
    padding: 7px;
    margin/top: 2em;
    margin/bottom: 2em;
}
img{
    border-style: solid;
    border-color: darkslategray;
    box-sizing: border-box;
    margin: 2em;
}
#links_1{
    border-style: solid;
    border-color: darkslategray;
    background-color: darkgray;
    display: inline;
    margin: 1em;
    padding: 5px;
}
